# Install dependencies
Install Pandas if note present (ignore any errors)

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\apps\anaconda3\envs\acloudguru-course\lib\site-packages (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in c:\apps\anaconda3\envs\acloudguru-course\lib\site-packages (from pandas) (1.18.2)
Requirement already satisfied: pytz>=2017.2 in c:\apps\anaconda3\envs\acloudguru-course\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\apps\anaconda3\envs\acloudguru-course\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\apps\anaconda3\envs\acloudguru-course\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

# Run script
Now we can run our script

In [10]:
import numpy as np
import pandas as pd

In [14]:
# Create a 3x3 matrix with values spanning into [0,9) interval
data = np.reshape( np.arange(9), (3,3))

In [16]:
# Create a pandas' dataframe from the matrix
df1 = pd.DataFrame(data)

In [31]:
# Change columns' labels
df1.columns = ["A","B","C"]
# Change rows' labels
df1.index = ["first", "second", "third"]
df1

        A  B  C
first   0  1  2
second  3  4  5
third   6  7  8

In [38]:
# Create a 3x3 dataframe with random values
df2 = pd.DataFrame( np.random.rand(3,3))
df2.columns = ["D","E","F"]
df2.index = ["first","second","third"]
df2

               D         E         F
first   0.446557  0.369235  0.663990
second  0.854172  0.148215  0.694815
third   0.799244  0.635932  0.526683

In [47]:
# Concatenate the two matrices
df3 = pd.concat( [df1,df2], axis=1 )
print( "Data frame df3 is \n{0}".format(df3) )
# How the values are going to be interpreted
print( "Values in df3 are of the followin type:\n{0}".format(df3.dtypes)  )

Data frame df3 is
        A  B  C         D         E         F
first   0  1  2  0.446557  0.369235  0.663990
second  3  4  5  0.854172  0.148215  0.694815
third   6  7  8  0.799244  0.635932  0.526683
Values in df3 are of the followin type:
A      int32
B      int32
C      int32
D    float64
E    float64
F    float64
dtype: object

In [58]:
# We can also get the data for a given column and have them printed by row
df3.columns
df3["E"]

first     0.369235
second    0.148215
third     0.635932
Name: E, dtype: float64

In [59]:
# We can print alla data for a given row
df3.index
df3.loc["first"]

A    0.000000
B    1.000000
C    2.000000
D    0.446557
E    0.369235
F    0.663990
Name: first, dtype: float64

In [61]:
# The former could be done in this way too
df3.iloc[0]

A    0.000000
B    1.000000
C    2.000000
D    0.446557
E    0.369235
F    0.663990
Name: first, dtype: float64

In [62]:
!dir

 Il volume nell'unità C è Windows
 Numero di serie del volume: E095-69A0

 Directory di C:\Users\SCALASM\Documents\Finance\InvisibleBusiness\JupyterNotebooks

26/03/2020  16:19    <DIR>          .
26/03/2020  16:19    <DIR>          ..
26/03/2020  16:16    <DIR>          .ipynb_checkpoints
26/03/2020  16:19             8.951 Pandas and its types.ipynb
               1 File          8.951 byte
               3 Directory  876.331.171.840 byte disponibili